<div ng-controller='newsCtrl'>
  <form class="col-12 col-md-3">
    <input style="width: 100%; display: inline;" class="form-control" ng-model='qry' type="text" name="" value=""><br><br>
    <input ng-click='getData()' class="btn btn-info" type="submit" name="" value="искать"><br><br>
    <div style="display: inline; width: 100%">
      <button ng-click='dec()'  class="btn btn-light" type="button" name="button">Назад</button>
      <button ng-click='inc()' class="btn btn-light" type="button" name="button">Вперед</button>
    </div>
  </form>
  <div  ng-repeat='article in articles'>
    <div class="col-12 col-md-9" class="card" style="width: 100%; float: right;">
      <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ article.title }}</h4>
        <p class="card-text">{{ article.description }}</p>
        <a href="{{article.url}}" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
    <br>
  </div>
</div>
